---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { ViewTransitions, fade } from 'astro:transitions';
---

<html lang='en'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions />
	</head>
	<body class='font-Montserrat'>
		<Header />
		<main transition:animate={fade({ duration: 1000 })}>
			<h1>If you have a cool project in mind, please reach out!</h1>
			<form method='POST' id='emailForm'>
				<label for='name'>Name</label>
				<input type='text' id='name' name='name' required />
				<label for='email'>Email</label>
				<input type='email' id='email' name='email' required />
				<label for='message'>Message</label>
				<textarea id='message' name='message' required></textarea>
				<button type='submit'>Send</button>
			</form>
		</main>
		<Footer />
	</body><script>
		import { sendForm, init } from '@emailjs/browser';

		init({ publicKey: '-LhOJHmCRayVEDvag' });

		document?.getElementById('emailForm')?.addEventListener('submit', async function (event) {
			event.preventDefault();

			try {
				// Fetch the FormData from the form
				const form = event.target as HTMLFormElement;
				const formData = new FormData(form);

				console.log(form, formData);

				// Send the form data using EmailJS

				sendForm('service_k5pniae', 'template_w1i7i68', form)
					.then(response => {
						console.log('SUCCESS!', response.status, response.text);
					})
					.catch(error => {
						console.error('Error:', error);
					});
			} catch (error) {
				console.error('Error:', (error as Error).message);
			}
		});
	</script>
</html>
