@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
	font-optical-sizing: auto;
	font-style: normal;
	margin: 0;
	padding: 0;
	text-align: left;
	overflow-wrap: break-word;
	font-size: 20px;
	line-height: 1.7;
}

@media (max-width: 720px) {
	body { 
		font-size: 16px;
	}
}
.grid-layout {
	grid-template-rows: 1fr 7fr 1fr;
}