---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout>
  <h1 class="my-7 text-2xl font-extrabold lg:text-4xl">
    Have a cool project in mind?
  </h1>
  <h2 class="text-3xl font-extrabold leading-10 text-accent lg:text-5xl">
    Reach <span class="text-4xl tracking-widest lg:text-6xl">OUT</span>!
  </h2>
  <form method="POST" id="emailForm" class="my-5 grid">
    <input
      placeholder="Name"
      class="my-3 rounded-md border-2 border-solid border-salmon p-3 text-gray-900 outline-0 placeholder:text-gray-400"
      type="text"
      id="name"
      autofocus
      name="name"
      required
    />
    <input
      type="email"
      class="my-3 rounded-md border-2 border-solid border-salmon p-3 text-gray-900 outline-0 placeholder:text-gray-400"
      placeholder="Email"
      id="email"
      name="email"
      required
    />
    <textarea
      class="my-3 rounded-md border-2 border-solid border-salmon p-3 text-gray-900 outline-0 placeholder:text-gray-400"
      placeholder="Message"
      id="message"
      name="message"
      required></textarea>
    <button
      class="my-8 rounded-md bg-salmon py-4 font-extrabold tracking-widest text-accent"
      type="submit">SEND</button
    >
  </form>
</Layout>
<script>
  import { init, sendForm } from "@emailjs/browser";

  init({ publicKey: "-LhOJHmCRayVEDvag" });

  document
    ?.getElementById("emailForm")
    ?.addEventListener("submit", async function (event) {
      event.preventDefault();

      try {
        // Fetch the FormData from the form
        const form = event.target as HTMLFormElement;

        sendForm("service_k5pniae", "template_w1i7i68", form)
          .then((response) => {
            console.log("SUCCESS!", response.status, response.text);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      } catch (error) {
        console.error("Error:", (error as Error).message);
      }
    });
</script>
