---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { ViewTransitions, fade } from 'astro:transitions';
---

<html lang='en'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions />
	</head>
	<body class='font-Montserrat'>
		<Header />
		<main class='grid place-items-center' transition:animate={fade({ duration: 1000 })}>
			<section class='lg:w-3/4 grid'>
				<section class='grid grid-rows-2 h-fit row-start-2 my-5'>
					<h1 class='font-extrabold my-7 text-4xl'>Have a cool project in mind?</h1>
					<h2 class='font-extrabold leading-10 text-5xl text-accent'>
						Reach <span class='text-6xl tracking-widest'>OUT</span>!
					</h2>
					<form method='POST' id='emailForm' class='grid my-5'>
						<input
							placeholder='Name'
							class='border-2 p-2 my-3 rounded-md outline-0 border-solid border-salmon text-gray-900 placeholder:text-gray-400'
							type='text'
							id='name'
							autofocus
							name='name'
							required
						/>
						<input
							type='email'
							class='border-2 my-3 p-2 rounded-md outline-0 border-solid border-salmon text-gray-900 placeholder:text-gray-400'
							placeholder='Email'
							id='email'
							name='email'
							required
						/>
						<textarea
							class='border-2 my-3 p-2 rounded-md outline-0 border-solid border-salmon text-gray-900 placeholder:text-gray-400'
							placeholder='Message'
							id='message'
							name='message'
							required></textarea>
						<button
							class='my-8 tracking-widest rounded-md py-4 font-extrabold bg-salmon text-accent'
							type='submit'>SEND</button
						>
					</form>
				</section>
			</section>
		</main>
		<Footer />
		<script>
			import { sendForm, init } from '@emailjs/browser';

			init({ publicKey: '-LhOJHmCRayVEDvag' });

			document?.getElementById('emailForm')?.addEventListener('submit', async function (event) {
				event.preventDefault();

				try {
					// Fetch the FormData from the form
					const form = event.target as HTMLFormElement;

					sendForm('service_k5pniae', 'template_w1i7i68', form)
						.then(response => {
							console.log('SUCCESS!', response.status, response.text);
						})
						.catch(error => {
							console.error('Error:', error);
						});
				} catch (error) {
					console.error('Error:', (error as Error).message);
				}
			});
		</script>
	</body>
</html>
