---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script type='text/javascript'>
			(window.heapReadyCb = window.heapReadyCb || []),
				(window.heap = window.heap || []),
				(heap.load = function (e, t) {
					(window.heap.envId = e),
						(window.heap.clientConfig = t = t || {}),
						(window.heap.clientConfig.shouldFetchServerConfig = !1);
					var a = document.createElement('script');
					(a.type = 'text/javascript'),
						(a.async = !0),
						(a.src = 'https://cdn.us.heap-api.com/config/' + e + '/heap_config.js');
					var r = document.getElementsByTagName('script')[0];
					r.parentNode.insertBefore(a, r);
					var n = [
							'init',
							'startTracking',
							'stopTracking',
							'track',
							'resetIdentity',
							'identify',
							'getSessionId',
							'getUserId',
							'getIdentity',
							'addUserProperties',
							'addEventProperties',
							'removeEventProperty',
							'clearEventProperties',
							'addAccountProperties',
							'addAdapter',
							'addTransformer',
							'addTransformerFn',
							'onReady',
							'addPageviewProperties',
							'removePageviewProperty',
							'clearPageviewProperties',
							'trackPageview',
						],
						i = function (e) {
							return function () {
								var t = Array.prototype.slice.call(arguments, 0);
								window.heapReadyCb.push({
									name: e,
									fn: function () {
										heap[e] && heap[e].apply(heap, t);
									},
								});
							};
						};
					for (var p = 0; p < n.length; p++) heap[n[p]] = i(n[p]);
				});
			heap.load('4172365793');
		</script>
	</head>
	<body>
		<main>
			<img src='/legos.jpeg' />
			<h4>A jaw dropping house is being built right now</h4>
			<h5>It's going to be amazing!</h5>
			<h6>Stay tuned for updates</h6>
			<span>
				But in the meantime, you can still contact the builder by sending
				<a target='_blank' href='mailto:amira.salah.rahim@gmail.com'>an email</a>
			</span>
			<span>or a message on <a target='_blank' href='https://www.linkedin.com/in/amerasalah/'>Linkedin</a></span>
			<span>
				<a target='_blank' href='https://github.com/amirasalah12'>Github</a> is also an option if you're nerdy like
				that.
			</span>
		</main>
		<style>
			main {
				display: grid;
				place-items: center;
				text-align: center;
			}
			a {
				color: var(--pink);
				text-decoration: none;
			}
		</style>
	</body>
</html>
