---
import type { SanityDocument } from '@sanity/client';
import { sanityClient } from 'sanity:client';

// get all posts from sanity

const posts = await sanityClient.fetch(`*[_type == "blog"]`);
---

<div>
	<h1>Posts</h1>
	{
		posts.map((post: SanityDocument) => (
			<div>
				<h1>
					<a href={`post/${post.slug.current}`}>{post.title}</a>
				</h1>
			</div>
		))
	}
</div>
