---
import type { SanityDocument } from '@sanity/client';
import { sanityClient } from 'sanity:client';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { ViewTransitions, fade } from 'astro:transitions';

// get all posts from sanity

const posts = await sanityClient.fetch(`*[_type == "blog"]`);
---

<html lang='en'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions />
	</head>
	<body class='font-Montserrat'>
		<Header />
		<main class='container mx-auto' transition:animate={fade({ duration: 1000 })}>
			<h1>Latest thoughts:</h1>
			<span>
				This is a space for unfilted thoughts, ideas, and reflections. some of them are personal, others are
				professional, but mostly they're just a way to express how i process the world. 
                I don't have and likes or comments here on purpose, these thoughts are not a way to get validation or grab attention, they're
				just my way to articulate my thoughts and learn from them.
			</span>
			<ul class='grid grid-cols-2'>
				{
					posts.map((post: SanityDocument) => (
						<li class='border-black border-2 p-5'>
							<a class='w-auto h-auto block' href={`post/${post.slug.current}`}>
								{post.title}
							</a>
						</li>
					))
				}
			</ul>
		</main>

		<Footer />
	</body>
</html>
