---
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../../sanity/lib/load-query";

import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = async () => {
  const { data: posts } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "blog"]`
  });

  return posts.map(({ slug }) => ({ params: { slug: slug.current } }));
};
const { params } = Astro;

const { data: post } = await loadQuery<SanityDocument>({
  query: `*[_type == "blog" && slug.current == $slug][0]`,
  params
});
---

<Layout>
  <section class="row-span-3">
    <h1><strong>{post.title}</strong></h1>
    <article>{post.body}</article>
  </section>
</Layout>
