<footer class="row-span-1 w-screen border-2 border-t-black py-3 text-sm">
  <section class="container mx-auto px-4">
    <section class="grid grid-cols-1 lg:grid-cols-2">
      <nav
        class="flex flex-row justify-center gap-3 lg:flex-col lg:items-start"
      >
        <ul class="flex justify-center gap-5">
          <li>
            <a target="_blank" href="https://www.linkedin.com/in/amerasalah/"
              >Linkedin</a
            >
          </li>
          <li>
            <a target="_blank" href="https://github.com/amirasalah12">Github</a>
          </li>
          <li>
            <a target="_blank" href="mailto:amira.salah.rahim@gmail.com"
              >Email</a
            >
          </li>
        </ul>
        <p>© {new Date().getFullYear()}</p>
      </nav>
    </section>
  </section>
</footer>
