<header class='py-3 border-b-600 border-2'>
	<nav class='w-screen px-3 flex justify-between items-center'>
		<img src='/logo.svg' alt='logo' class='max-w-40' />
		<!-- <section class='flex items-center'>
			<span class='text-nowrap'>Her lego house</span>
		</section> -->
		<ul class='flex mx-5 justify-end gap-5 text-s'>
			<li>Writings</li>
			<li>Projects</li>
			<li>Hire me</li>
		</ul>
	</nav>
</header>
