<header class='py-3 border-b-black border-b-2'>
	<nav class='w-screen px-3 flex justify-between items-center'>
		<img src='/logo.svg' alt='logo' class='max-w-40' />
		<ul class='flex mx-5 justify-end gap-5 text-s'>
			<li>Writings</li>
			<li>Projects</li>
			<li>Hire me</li>
		</ul>
	</nav>
</header>
