<header class='py-3 border-b-black border-b-2 grid lg:grid-cols-2 lg:justify-items-start justify-items-center h-fit'>
	<img src='/logo.svg' alt='logo' class='flex lg:items-start items-center' width='150px' height='50px' />
	<nav class='px-3 grid lg:justify-items-end lg:place-items-center justify-items-center w-full'>
		<ul class='gap-5 text-s grid grid-cols-3'>
			<li>Writings</li>
			<li>Projects</li>
			<li>Hire me</li>
		</ul>
	</nav>
</header>
