<header class='py-1 border-b-black row-span-1 border-b-2 flex items-center'>
	<section class='container px-4 mx-auto'>
		<section class='grid lg:grid-cols-2 lg:justify-items-start justify-items-center'>
			<a href='/'>
				<img src='/logo.svg' alt='logo' class='flex lg:items-start items-center' width='120px' height='50px' />
			</a>
			<nav class='px-3 grid lg:justify-items-end lg:place-items-center justify-items-center w-full'>
				<ul class='gap-5 text-s grid grid-cols-3'>
					<li class='text-sm lg:text-lg'>Projects</li>
					<li class='text-sm lg:text-lg'><a href='/posts'>Writings</a></li>
					<li class='text-sm lg:text-lg'><a href='/hire'> Hire me</a></li>
				</ul>
			</nav>
		</section>
	</section>
</header>
