<header class="row-span-1 flex items-center border-b-2 border-b-black py-1">
  <section class="container mx-auto px-4">
    <section class="grid grid-cols-2 justify-items-start">
      <a href="/">
        <img
          src="/logo.svg"
          alt="logo"
          class="flex items-center lg:items-start"
          width="120px"
          height="50px"
        />
      </a>
      <nav class="grid w-full place-items-center justify-items-end px-3">
        <ul class="text-s grid grid-cols-2 gap-4">
          <li class="text-sm lg:text-lg"><a href="/projects">Projects</a></li>
          <li class="text-sm lg:text-lg"><a href="/posts">Writings</a></li>
        </ul>
      </nav>
    </section>
  </section>
</header>
