<header class='py-3 border-b-black border-b-2 grid grid-cols-2 h-fit'>
	<img src='/logo.svg' alt='logo' width='150px' height='50px' />
	<nav class='px-3 grid justify-items-end place-items-center'>
		<ul class='gap-5 text-s flex'>
			<li>Writings</li>
			<li>Projects</li>
			<li>Hire me</li>
		</ul>
	</nav>
</header>
