<header class="row-span-1 flex items-center border-b-2 border-b-black py-1">
  <section class="container mx-auto px-4">
    <section
      class="grid justify-items-center lg:grid-cols-2 lg:justify-items-start"
    >
      <a href="/">
        <img
          src="/logo.svg"
          alt="logo"
          class="flex items-center lg:items-start"
          width="120px"
          height="50px"
        />
      </a>
      <nav
        class="grid w-full justify-items-center px-3 lg:place-items-center lg:justify-items-end"
      >
        <ul class="text-s grid grid-cols-3 gap-5">
          <li class="text-sm lg:text-lg"><a href="/projects">Projects</a></li>
          <!-- <li class="text-sm lg:text-lg"><a href="/posts">Writings</a></li> -->
          <li class="text-sm lg:text-lg"><a href="/hire"> Hire me</a></li>
        </ul>
      </nav>
    </section>
  </section>
</header>
